.headline {
    font-size: 3em;
    font-weight: bold;
    text-align: center;

    margin: 0 0 1em 0;
    clear: both;
}

.submit {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;

    width: 6em;
    height: 1em;
    background: green; color: white;

    padding: 0.5em 0 0.5em 0;
    float: right;
    cursor: pointer;
}

.info {
    font-size: 2em;
    text-align: center;

    height: 1em;
    background: lightblue;

    margin-right: 2em;
    padding: 0.5em;
    float: right;
}

.submit:hover {
    background: GreenYellow;
}

#filter {
    font-size: 2em;

    margin: 0 1em 0 0;
    float: left;
}

.clear {
    clear: both;
}

.explainer {
    padding-top: 1em;
    text-align: right;
}

.explainer ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.boxer {
    font-size: 1em;
    float: left;
    width: 2em;
    height: 2em;
    background: grey;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    padding: 0.2em 0 0 0;
    cursor: pointer;
}

.mediumboxes {
    width: 3em;
    height: 3em;
}

.largeboxes {
    width: 4em;
    height: 4em;
}

.track h2 {
    text-align: center;

    border-bottom: 0.3em solid #4588ba;

    margin: 2em 0 1em 0;
    clear: both;
}

.event {
    overflow: hidden;

    width: 14em;
    height: 14em;
    background: #eee;

    display: inline-block;
    float: left;

    margin: 0 0.8em 0.8em 0;
    cursor: pointer;
}

.event:hover,
.highlighted {
    overflow: visible;
    z-index: 1;

    background: grey;
    position: relative;
}

.selected {
    background: red !important;
}
.selected:hover {
    background: pink !important;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.2em 0.2em 0 0.2em;
}

.speakers {
    font-style: italic;
    padding: 0 0.2em 0 0.4em;
    margin-bottom: 0.2em;
}

.abstract {
    background: inherit;

    padding: 0 0.2em 0.2em 0.2em;
}

.hidden {
    visibility: hidden !important;
    display: none !important;
}

#qrcode {
    display: inline-block;
    float: right;

    margin: 0 0.8em 0.8em 0;
    width:  14em;
    height: 14em;
}
