body {
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
    padding-bottom: 10rem;
}

body:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

div, p, a, li, td { -webkit-text-size-adjust:none; }

body,
header {
    min-width: 640px;
}

.intro {
    float: left;
    font-size: 1em;
    max-width: 50%;
    width: auto;
    padding-left: 0.5em;
}

.track-list {
    padding-top: 1em;
    float: right;
    max-width: 40%;
    width: auto;
    text-align: right;
    max-height: 300px;
    overflow: hidden;
}

@media (max-width: 800px) {
header,
.footer,
.track-list {
    font-size: 0.8em;
}
}

.headline {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

.rightbox {
    float: right;
    max-width: 50%;
}

.leftbox {
    float: left;
    max-width: 100%;
}

.submit {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    height: 1em;
    background: green; color: white;

    padding: 1em;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    margin: 1rem;
}

.submit svg{
    fill :#fff;
    float: right;
    height: 1em;
    margin-left: 1em;
}

.export-url,
.info {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;

    height: 1em;
    background: lightblue;

    margin: 1rem 0.5rem 1rem;
    border-radius: 5px;
    padding: 1em;
    float: right;
}

.submit:hover {
    background: #000;
    transition: background 0.5s;
}

#filter {
    font-size: 1em;
    border-radius: 5px;
    line-height: 1em;
    height: 1em;
    padding: 0.8em;
    margin: 1em;
    min-width: 250px;
}

.clear {
    clear: both;
}

.explainer {
    margin: 0 auto;
    width: 50%;
    max-width: 80em;
    text-align: center;
}

.explainer ul {
    list-style-type: none;
    padding:0;
    margin:0;
    height: 8em;
    overflow: hidden;
}

.boxer {
    font-size: 1em;
    float: left;
    width: 2em;
    height: 2em;
    background: grey;
    color: white;
    text-align: center;
    margin-right: 0.2em;
    padding: 0.2em 0 0 0;
    cursor: pointer;
    border-radius: 5px;
}

.allboxes {
    clear: left;
}

.vmediumboxes {
    width: 3em;
    height: 3em;
}

.vlargeboxes {
    width: 4em;
    height: 4em;
}

.views {
    display: inline-block;
    background: grey;
    margin-right: 0.2em;
    padding: 0.2em 0 0 0;
    text-align: center;
    color: white;
    width: 3em;
    height: 2em;
    cursor: pointer;
    border-radius: 5px;
}

.views:hover,
.boxer:hover {
    background: #eee;
}

.track h2 {
    text-align: center;

    border-bottom: 0.3em solid #4588ba;

    margin: 2em 0 1em 0;
    clear: both;
}

.version {
    position: absolute;
    top: 4px;
    right: 4px;
}
.trashbin {
    position: absolute;
    top 4px;
    left: 4px;
    text-align: center;
    border: 1px silver dotted;
    border-radius: 0.2em;
    background: #ddd;
    padding: 1em;
}
.in-list .trashbin {
    visibility: hidden;
    display: none;
}
.trashbin.over {
    background: red;
}

/* Our main event box */
.event {
    overflow: hidden;

    background: #eee;
    border-radius: 5px;

    margin: 0 0.8em 0.8em 0;
    cursor: pointer;
}

.event .speakers,
.event .abstract {
    font-size: 0.8em;
}

/* If tagged as in-list, display and stack them to the left */
.in-list .event {
    display: inline-block;
    visibility: visible;
    float: left;
}

.in-list .event:hover {
    position: relative;
    top: auto !important;
}

.event.selected {
    background: red;
}

/* Outer glow for selected events in other display modes */
.languages .event.selected,
.all-tracks .event.selected,
.correlate .event.selected {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
    box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
}

.selected.friend {
    background-image:
        repeating-linear-gradient(
          45deg,
          purple,
          purple 20px,
          red 20px,
          red 40px /* determines size */
        ) !important;
        color: white;
}
.friend {
    background: purple;
    color: white;
}

/* Events in calendar view are very narrow */
.in-calendar .event,
.in-calendar .room-label,
.in-calendar .grid {
    position: absolute;
    width:    18.75%;
}

.in-calendar .room-label {
    font-size: 2em;
}

.in-calendar.alldays .event,
.in-calendar.alldays .room-label {
    width:    5.8%;
}

.in-calendar.alldays .room-label {
    font-size: 1em;
}

.in-calendar.alldays .grid {
    width: 5%;
}

/* Events in calendar view are only visible if the have a date */
.in-calendar.alldays .event.day_1, .in-calendar.onlyday1 .event.day_1,
.in-calendar.alldays .event.day_2, .in-calendar.onlyday2 .event.day_2,
.in-calendar.alldays .event.day_3, .in-calendar.onlyday3 .event.day_3,
.in-calendar.alldays .event.day_4, .in-calendar.onlyday4 .event.day_4 {
    display: block;
    visibility: visible;
}

/* span a grid */
.grid {
    position: absolute;
    text-align: center;
    z-index: -1;
    opacity: 0.25;
}

.grid.possible {
    background: blue;
}

.wholeday {
    position: absolute;
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
    top: 350px;
    width: 25%;
    opacity: 0.1;
    z-position: -3;
}
.wholeday.uneven {
    background-color: cyan;
}

.wholeblock {
    position: absolute;
    width: 25%;
    background-color: yellow;
    opacity: 0.4;
    z-position: -3;
}
.in-calendar.onlyday1 .wholeblock,
.in-calendar.onlyday2 .wholeblock,
.in-calendar.onlyday3 .wholeblock,
.in-calendar.onlyday4 .wholeblock
{
    width: 100%;
}

.grid.over {
    background-color: lime;
}

.room-label {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    top: 350px;
}

.views.vday4 {
    margin-right: 3em;
}

.guide {
    position: absolute;
    z-index: -1;
    font-weight: bold;
}

hr.guide {
    left: 4%;
    width: 95%;
}

.ende, .pause {
    background-color: pink;
    color: white;
    text-align: center;
    left: 0;
    right: 0;
    z-position: -1;
}

.size-large .pause {
    font-size: 9em;
}

.size-medium .pause {
    font-size: 7em;
}

.size-small .pause {
    font-size: 4em;
}

/* togglable view selectors */
.absolute             .vhalf        { background: red; }
.correlate            .vcorr        { background: red; }
.still-left           .vleft        { background: red; }
.languages            .vlang        { background: red; }
.all-tracks           .vtrack       { background: red; }
.in-list              .vlist        { background: red; }
.size-large           .vlargeboxes  { background: red; }
.size-medium          .vmediumboxes { background: red; }
.size-small           .vsmallboxes  { background: red; }
.in-calendar.alldays  .vdays        { background: red; }
.in-calendar.onlyday1 .vday1        { background: red; }
.in-calendar.onlyday2 .vday2        { background: red; }
.in-calendar.onlyday3 .vday3        { background: red; }
.in-calendar.onlyday4 .vday4        { background: red; }

/* Rule for when stuff is hidden */
.in-list .guide,
.in-list .grid,
.in-list .room-label,
.in-calendar .track h2,
.in-calendar .event:not(.day_1):not(.day_2):not(.day_3):not(.day_4),
.in-list.still-left .day_1,
.in-list.still-left .day_2,
.in-list.still-left .day_3,
.in-list.still-left .day_4,
.onlyday1 .day_2, .onlyday1 .day_3, .onlyday1 .day_4,
.onlyday2 .day_1, .onlyday2 .day_3, .onlyday2 .day_4,
.onlyday3 .day_1, .onlyday3 .day_2, .onlyday3 .day_4,
.onlyday4 .day_1, .onlyday4 .day_2, .onlyday4 .day_3,
.onlyday1 .wholeday, .onlyday2 .wholeday, .onlyday3 .wholeday, .onlyday4 .wholeday {
   visibility: hidden !important;
   display: none !important;
}

.in-calendar.alldays  .event.workshop,
.in-calendar.onlyday1 .event.workshop,
.in-calendar.onlyday2 .event.workshop,
.in-calendar.onlyday3 .event.workshop,
.in-calendar.onlyday4 .event.workshop,
.in-calendar.alldays  .workshop.room-label,
.in-calendar.onlyday1 .workshop.room-label,
.in-calendar.onlyday2 .workshop.room-label,
.in-calendar.onlyday3 .workshop.room-label,
.in-calendar.onlyday4 .workshop.room-label
 {
  visibility: hidden;
  display: none;
}

/* Events in list that have a date set, will be marked */
.fullnarp.in-list .event.day_1,
.fullnarp.in-list .event.day_2,
.fullnarp.in-list .event.day_3,
.fullnarp.in-list .event.day_4 {
    background-color: green;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.2em 0.2em 0 0.2em;
    background-color: initial;
}

.speakers {
    font-style: italic;
    padding: 0.2em 0.2em 0.2em 0.4em;
}

.abstract {
    padding: 0 0.2em 0.2em 0.2em;
    border-radius: 0 0 5px 5px;
}

.title:hover,
.abstract:hover,
.speakers:hover,
.event:hover .speakers,
.event:hover .abstract,
.event:hover .title,
.speakers:hover + .abstract,
.title:hover + .speakers + .abstract {
    background: initial;
    background-color: inherit;
}

.selected:hover,
.friend:hover {
    background: pink !important;
    color: black;
}

/* Halfnarp results */
.event .absval {
    display: none;
}

.absolute .event .absval,
.correlate .event .absval {
    visibility: visible !important;
    display: block !important;
    text-align: center;
    font-size: 2em;
    color: white;
    background: transparent;
    top: 0;
    width: 100%;
    font-weight: bold;
}

.languages .lang_de { background: lime !important; }
.languages .lang_en { background: cyan !important; }
.corr-hint { display: none; font-weight: bold; }
.correlate .corr-hint { display: initial !important; }

.has_unavailable_speaker { border-style: dashed !important; }

.in-calendar .class_2000.room6, .in-calendar .class_1000.room6, .in-calendar .class_500.room6,
.in-calendar .class_2000.roomg, .in-calendar .class_1000.roomg,
.in-calendar .class_2000.room2 {
    background-image:
        repeating-linear-gradient(
          45deg,
          #eee,
          #eee 20px,
          #ddd 20px,
          #ddd 40px /* determines size */
        );
}

/* Events in calendar where speakers are unavailable, will be marked */
.in-calendar .unavailable {
    background-image:
        repeating-linear-gradient(
          45deg,
          black,
          black 20px,
          red 20px,
          red 40px /* determines size */
        ) !important;
    color: white;
}

/* Events in calendar where speakers are unavailable, will be marked */
.in-calendar .conflict {
    background-image:
        repeating-linear-gradient(
          45deg,
          black,
          black 20px,
          yellow 20px,
          yellow 40px /* determines size */
        ) !important;
    color: red;
}

/* FAQ */
dt {
    font-weight: bold;
}

dl {
    width: 45em;
    margin: auto;
}

/* to quickly hide elements */

.hidden {
    visibility: hidden !important;
    display: none !important;
}

.pending {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255,255,0,1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(255,255,0,1);
    box-shadow: 0px 0px 20px 5px rgba(255,255,0,1);
}
.pending-delete {
    opacity: 0.25;
}
.failed {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
    box-shadow: 0px 0px 20px 5px rgba(255,0,0,1);
}

#qrcode {
    display: inline-block;
    float: right;

    margin: 0 0.8em 0.8em 0;
    width:  224px;
    height: 224px;
}

*[draggable=true] {
  cursor: move;
}

/* Boring lists */

body.absolute .class_5000 { background: #000000 !important; color: white !important; }
body.absolute .class_2000 { background: #101010 !important; color: white !important; }
body.absolute .class_1000 { background: #404040 !important; color: white !important; }
body.absolute .class_500  { background: #707070 !important; color: white !important; }
body.absolute .class_200  { background: #a0a0a0 !important; }
body.absolute .class_100  { background: #c0c0c0 !important; }

body.correlate .event[corr="0"] { background: #f0f0f0 !important; color: black !important; }
body.correlate .event[corr="1"] { background: #d0d0d0 !important; color: black !important; }
body.correlate .event[corr="2"] { background: #b0b0b0 !important; color: black !important; }
body.correlate .event[corr="3"] { background: #909090 !important; color: black !important; }
body.correlate .event[corr="4"] { background: #707070 !important; color: white !important; }
body.correlate .event[corr="5"] { background: #505050 !important; color: white !important; }
body.correlate .event[corr="6"] { background: #303030 !important; color: white !important; }
body.correlate .event[corr="7"] { background: #101010 !important; color: white !important; }
body.correlate .event[corr="8"] { background: #000000 !important; color: white !important; }
body.correlate .event[corr="9"] { background: #000000 !important; color: white !important; }
body.correlate .event[corr="x"] { background: #0000ff !important; color: white !important; }

body.classifiers .event[intensity="10"] { background: #000000 !important; color: white !important; }
body.classifiers .event[intensity="9"]  { background: #1A1A1A !important; color: white !important; }
body.classifiers .event[intensity="8"]  { background: #333333 !important; color: white !important; }
body.classifiers .event[intensity="7"]  { background: #4D4D4D !important; color: white !important; }
body.classifiers .event[intensity="6"]  { background: #666666 !important; color: white !important; }
body.classifiers .event[intensity="5"]  { background: #808080 !important; color: black !important; }
body.classifiers .event[intensity="4"]  { background: #999999 !important; color: black !important; }
body.classifiers .event[intensity="3"]  { background: #B3B3B3 !important; color: black !important; }
body.classifiers .event[intensity="2"]  { background: #CCCCCC !important; color: black !important; }
body.classifiers .event[intensity="1"]  { background: #E6E6E6 !important; color: black !important; }
body.classifiers .event[intensity="0"]  { background: #FFFFFF !important; color: black !important; }

body.classifiers .event[intensity="+0"]  { background: #FF7F00 !important; color: white !important; }
body.classifiers .event[intensity="+1"]  { background: #E67F1A !important; color: white !important; }
body.classifiers .event[intensity="+2"]  { background: #CC7F33 !important; color: white !important; }
body.classifiers .event[intensity="+3"]  { background: #B37F4D !important; color: white !important; }
body.classifiers .event[intensity="+4"]  { background: #997F66 !important; color: white !important; }
body.classifiers .event[intensity="+5"]  { background: #807F80 !important; color: white !important; }
body.classifiers .event[intensity="+6"]  { background: #667F99 !important; color: white !important; }
body.classifiers .event[intensity="+7"]  { background: #4D7FB3 !important; color: white !important; }
body.classifiers .event[intensity="+8"]  { background: #337FCC !important; color: white !important; }
body.classifiers .event[intensity="+9"]  { background: #1A7FE6 !important; color: white !important; }
body.classifiers .event[intensity="+10"] { background: #007FFF !important; color: white !important; }

body.classifiers .legend,
body.classifiers .vclass
{ background: grey !important; border-color: grey; }

body.classifiers[classifier="Ethics, Politics + Society"] .vclass[classifier="Ethics, Politics + Society"],
body.classifiers[classifier="Entertainment"]     .vclass[classifier="Entertainment"],
body.classifiers[classifier="Art + Culture"]     .vclass[classifier="Art + Culture"],
body.classifiers[classifier="Security"]          .vclass[classifier="Security"],
body.classifiers[classifier="Resilience"]        .vclass[classifier="Resilience"],
body.classifiers[classifier="Science"]           .vclass[classifier="Science"],
body.classifiers[classifier="Hardware"]          .vclass[classifier="Hardware"],
body.classifiers[classifier="Climate Change"]    .vclass[classifier="Climate Change"]
{ background-color: red !important; border-color: red; }

body.classifiers[classifier="Prior Knowledge"]   .vclass[classifier="Prior Knowledge"],
body.classifiers[classifier="Defense - Offense"] .vclass[classifier="Defense - Offense"],
body.classifiers[classifier="Theory - Practice"] .vclass[classifier="Theory - Practice"],
body.classifiers[classifier="Novelty"]           .vclass[classifier="Novelty"]
{
  background: linear-gradient(left, #ff7f00, #007fff) !important;
  background: -webkit-linear-gradient(left, #ff7f00, #007fff) !important;
  background: -o-linear-gradient(left, #ff7f00, #007fff) !important;
  background: -moz-linear-gradient(left, #ff7f00, #007fff) !important;
  border: red 2px solid;
}

/* for large view */
.size-large .time_1100 { top:  400px; }
.size-large .time_1115 { top:  450px; }
.size-large .time_1130 { top:  500px; }
.size-large .time_1145 { top:  550px; }
.size-large .time_1200 { top:  600px; }
.size-large .time_1215 { top:  650px; }
.size-large .time_1230 { top:  700px; }
.size-large .time_1245 { top:  750px; }
.size-large .time_1300 { top:  800px; }
.size-large .time_1315 { top:  850px; }
.size-large .time_1330 { top:  900px; }
.size-large .time_1345 { top:  950px; }
.size-large .time_1400 { top: 1000px; }
.size-large .time_1415 { top: 1050px; }
.size-large .time_1430 { top: 1100px; }
.size-large .time_1445 { top: 1150px; }
.size-large .time_1500 { top: 1200px; }
.size-large .time_1515 { top: 1250px; }
.size-large .time_1530 { top: 1300px; }
.size-large .time_1545 { top: 1350px; }
.size-large .time_1600 { top: 1400px; }
.size-large .time_1615 { top: 1450px; }
.size-large .time_1630 { top: 1500px; }
.size-large .time_1645 { top: 1550px; }
.size-large .time_1700 { top: 1600px; }
.size-large .time_1715 { top: 1650px; }
.size-large .time_1730 { top: 1700px; }
.size-large .time_1745 { top: 1750px; }
.size-large .time_1800 { top: 1800px; }
.size-large .time_1815 { top: 1850px; }
.size-large .time_1830 { top: 1900px; }
.size-large .time_1845 { top: 1950px; }
.size-large .time_1900 { top: 2000px; }
.size-large .time_1915 { top: 2050px; }
.size-large .time_1930 { top: 2100px; }
.size-large .time_1945 { top: 2150px; }
.size-large .time_2000 { top: 2200px; }
.size-large .time_2015 { top: 2250px; }
.size-large .time_2030 { top: 2300px; }
.size-large .time_2045 { top: 2350px; }
.size-large .time_2100 { top: 2400px; }
.size-large .time_2115 { top: 2450px; }
.size-large .time_2130 { top: 2500px; }
.size-large .time_2145 { top: 2550px; }
.size-large .time_2200 { top: 2600px; }
.size-large .time_2215 { top: 2650px; }
.size-large .time_2230 { top: 2700px; }
.size-large .time_2245 { top: 2750px; }
.size-large .time_2300 { top: 2800px; }
.size-large .time_2315 { top: 2850px; }
.size-large .time_2330 { top: 2900px; }
.size-large .time_2345 { top: 2950px; }
.size-large .time_0000 { top: 3000px; }
.size-large .time_0015 { top: 3050px; }
.size-large .time_0030 { top: 3100px; }
.size-large .time_0045 { top: 3150px; }
.size-large .time_0100 { top: 3200px; }
.size-large .time_0115 { top: 3250px; }
.size-large .time_0130 { top: 3300px; }
.size-large .time_0145 { top: 3350px; }
.size-large .time_0200 { top: 3400px; }

/* for medium view */
.size-medium .time_1100 { top:  400px; }
.size-medium .time_1115 { top:  430px; }
.size-medium .time_1130 { top:  460px; }
.size-medium .time_1145 { top:  490px; }
.size-medium .time_1200 { top:  520px; }
.size-medium .time_1215 { top:  550px; }
.size-medium .time_1230 { top:  580px; }
.size-medium .time_1245 { top:  610px; }
.size-medium .time_1300 { top:  640px; }
.size-medium .time_1315 { top:  670px; }
.size-medium .time_1330 { top:  700px; }
.size-medium .time_1345 { top:  730px; }
.size-medium .time_1400 { top:  760px; }
.size-medium .time_1415 { top:  790px; }
.size-medium .time_1430 { top:  820px; }
.size-medium .time_1445 { top:  850px; }
.size-medium .time_1500 { top:  880px; }
.size-medium .time_1515 { top:  910px; }
.size-medium .time_1530 { top:  940px; }
.size-medium .time_1545 { top:  970px; }
.size-medium .time_1600 { top: 1000px; }
.size-medium .time_1615 { top: 1030px; }
.size-medium .time_1630 { top: 1060px; }
.size-medium .time_1645 { top: 1090px; }
.size-medium .time_1700 { top: 1120px; }
.size-medium .time_1715 { top: 1150px; }
.size-medium .time_1730 { top: 1180px; }
.size-medium .time_1745 { top: 1210px; }
.size-medium .time_1800 { top: 1240px; }
.size-medium .time_1815 { top: 1270px; }
.size-medium .time_1830 { top: 1300px; }
.size-medium .time_1845 { top: 1330px; }
.size-medium .time_1900 { top: 1360px; }
.size-medium .time_1915 { top: 1390px; }
.size-medium .time_1930 { top: 1420px; }
.size-medium .time_1945 { top: 1450px; }
.size-medium .time_2000 { top: 1480px; }
.size-medium .time_2015 { top: 1510px; }
.size-medium .time_2030 { top: 1540px; }
.size-medium .time_2045 { top: 1570px; }
.size-medium .time_2100 { top: 1600px; }
.size-medium .time_2115 { top: 1630px; }
.size-medium .time_2130 { top: 1660px; }
.size-medium .time_2145 { top: 1690px; }
.size-medium .time_2200 { top: 1720px; }
.size-medium .time_2215 { top: 1750px; }
.size-medium .time_2230 { top: 1780px; }
.size-medium .time_2245 { top: 1810px; }
.size-medium .time_2300 { top: 1840px; }
.size-medium .time_2315 { top: 1870px; }
.size-medium .time_2330 { top: 1910px; }
.size-medium .time_2345 { top: 1940px; }
.size-medium .time_0000 { top: 1970px; }
.size-medium .time_0015 { top: 2000px; }
.size-medium .time_0030 { top: 2030px; }
.size-medium .time_0045 { top: 2060px; }
.size-medium .time_0100 { top: 2090px; }
.size-medium .time_0115 { top: 2120px; }
.size-medium .time_0130 { top: 2150px; }
.size-medium .time_0145 { top: 2180px; }
.size-medium .time_0200 { top: 2210px; }

/* For small view */
.size-small .time_1100 { top:  400px; }
.size-small .time_1115 { top:  420px; }
.size-small .time_1130 { top:  440px; }
.size-small .time_1145 { top:  460px; }
.size-small .time_1200 { top:  480px; }
.size-small .time_1215 { top:  500px; }
.size-small .time_1230 { top:  520px; }
.size-small .time_1245 { top:  540px; }
.size-small .time_1300 { top:  560px; }
.size-small .time_1315 { top:  580px; }
.size-small .time_1330 { top:  600px; }
.size-small .time_1345 { top:  620px; }
.size-small .time_1400 { top:  640px; }
.size-small .time_1415 { top:  660px; }
.size-small .time_1430 { top:  680px; }
.size-small .time_1445 { top:  700px; }
.size-small .time_1500 { top:  720px; }
.size-small .time_1515 { top:  740px; }
.size-small .time_1530 { top:  760px; }
.size-small .time_1545 { top:  780px; }
.size-small .time_1600 { top:  800px; }
.size-small .time_1615 { top:  820px; }
.size-small .time_1630 { top:  840px; }
.size-small .time_1645 { top:  860px; }
.size-small .time_1700 { top:  880px; }
.size-small .time_1715 { top:  900px; }
.size-small .time_1730 { top:  920px; }
.size-small .time_1745 { top:  940px; }
.size-small .time_1800 { top:  960px; }
.size-small .time_1815 { top:  980px; }
.size-small .time_1830 { top: 1000px; }
.size-small .time_1845 { top: 1020px; }
.size-small .time_1900 { top: 1040px; }
.size-small .time_1915 { top: 1060px; }
.size-small .time_1930 { top: 1080px; }
.size-small .time_1945 { top: 1100px; }
.size-small .time_2000 { top: 1120px; }
.size-small .time_2015 { top: 1140px; }
.size-small .time_2030 { top: 1160px; }
.size-small .time_2045 { top: 1180px; }
.size-small .time_2100 { top: 1200px; }
.size-small .time_2115 { top: 1220px; }
.size-small .time_2130 { top: 1240px; }
.size-small .time_2145 { top: 1260px; }
.size-small .time_2200 { top: 1280px; }
.size-small .time_2215 { top: 1300px; }
.size-small .time_2230 { top: 1320px; }
.size-small .time_2245 { top: 1340px; }
.size-small .time_2300 { top: 1360px; }
.size-small .time_2315 { top: 1380px; }
.size-small .time_2330 { top: 1400px; }
.size-small .time_2345 { top: 1420px; }
.size-small .time_0000 { top: 1440px; }
.size-small .time_0015 { top: 1460px; }
.size-small .time_0030 { top: 1480px; }
.size-small .time_0045 { top: 1500px; }
.size-small .time_0100 { top: 1520px; }
.size-small .time_0115 { top: 1540px; }
.size-small .time_0130 { top: 1560px; }
.size-small .time_0145 { top: 1580px; }
.size-small .time_0200 { top: 1600px; }

.size-large .grid          { height: 50px; font-size: 1em; }
.size-large .duration_900  { min-height:   45px; max-height:  45px; }
.size-large .duration_1800 { min-height:   95px; max-height:  95px; }
.size-large .duration_2700 { min-height:  145px; max-height: 145px; }
.size-large .duration_3600 { min-height:  195px; max-height: 195px; }
.size-large .duration_4500 { min-height:  245px; max-height: 245px; }
.size-large .duration_5400 { min-height:  295px; max-height: 295px; }
.size-large .duration_7200 { min-height:  395px; max-height: 395px; }
.size-large .duration_8100 { min-height:  445px; max-height: 445px; }
.size-large .duration_inf   { height: 1600px !important; }
.size-large .wholeblock     { height: 700px; }
.size-large .wholeday       { height: 3550px; }
.in-calendar.size-large.alldays .event { font-size: 0.8em; }

.size-medium .grid          { height:  30px; font-size: 0.5em; }
.size-medium .duration_900  { min-height:  27px; max-height:  27px; }
.size-medium .duration_1800 { min-height:  57px; max-height:  57px; }
.size-medium .duration_2700 { min-height:  87px; max-height:  87px; }
.size-medium .duration_3600 { min-height: 117px; max-height: 117px; }
.size-medium .duration_4500 { min-height: 147px; max-height: 147px; }
.size-medium .duration_5400 { min-height: 177px; max-height: 177px; }
.size-medium .duration_7200 { min-height: 237px; max-height: 237px;}
.size-medium .duration_8100 { min-height: 267px; max-height: 267px;}
.size-medium .duration_inf  { height: 960px !important; }
.size-medium .wholeblock    { height: 420px; }
.size-medium .wholeday      { height: 2150px; }
.in-calendar.size-medium.alldays .event { font-size: 0.6em; }
.in-calendar.size-medium         .event { font-size: 0.9em; }

.size-small .grid           { height:  20px; font-size: 0.3em; }
.size-small .duration_900   { min-height:  18px; max-height:  18px; }
.size-small .duration_1800  { min-height:  38px; max-height:  38px; }
.size-small .duration_2700  { min-height:  58px; max-height:  58px; }
.size-small .duration_3600  { min-height:  78px; max-height:  78px; }
.size-small .duration_4500  { min-height:  98px; max-height:  98px; }
.size-small .duration_5400  { min-height: 118px; max-height: 118px; }
.size-small .duration_7200  { min-height: 158px; max-height: 158px; }
.size-small .duration_8100  { min-height: 178px; max-height: 178px; }
.size-small .duration_inf   { height: 640px !important; }
.size-small .wholeblock     { height: 280px; }
.size-small .wholeday       { height: 1450px; }
.in-calendar.size-small.alldays .event { font-size: 0.4em; }
.in-calendar.size-small         .event { font-size: 0.8em; }

.size-medium .event { font-size: 1.2em; }
.size-large .event  { font-size: 1.5em; }
.in-list.size-small  .event { width: 10em; }
.in-list.size-medium .event { width: 12em; }
.in-list.size-large  .event { width: 14em; }


.size-small.in-list  #qrcode { margin-bottom: 0px; }
.size-medium.in-list #qrcode { margin-bottom: 62px; }
.size-large.in-list  #qrcode { margin-bottom: 124px; }

.halfnarp.size-small.in-list  .event { min-height: 10em; max-height: 10em; }
.halfnarp.size-medium.in-list .event { min-height: 12em; max-height: 12em; }
.halfnarp.size-large.in-list  .event { min-height: 14em; max-height: 14em; }

.track_336 { border: 2px solid #99cc00; } /* CCC */
.track_335 { border: 2px solid #99cc00; } /* Entertainment */
.track_328 { border: 2px solid #ff33ff; } /* ESP */
.track_331 { border: 2px solid #330066; } /* Security */
.track_329 { border: 2px solid #ffff33; } /* A&C */
.track_333 { border: 2px solid #00ccff; } /* Science */
.track_330 { border: 2px solid #ff6600; } /* Hardware */
.track_332 { border: 2px solid #a41c31; } /* Resilience */

.all-tracks .track_336 { background-color: #99cc00 !important; background-image: none !important; } /* CCC */
.all-tracks .track_335 { background-color: #99cc00 !important; background-image: none !important; } /* Entertainment */
.all-tracks .track_328 { background-color: #ff33ff !important; background-image: none !important; } /* ESP */
.all-tracks .track_331 { background-color: #330066 !important; background-image: none !important; color: white; } /* Security */
.all-tracks .track_329 { background-color: #ffff33 !important; background-image: none !important; color: black; } /* A&C */
.all-tracks .track_333 { background-color: #00ccff !important; background-image: none !important; } /* Science */
.all-tracks .track_330 { background-color: #ff6600 !important; background-image: none !important; } /* Hardware */
.all-tracks .track_332 { background-color: #a41c31 !important; background-image: none !important; color: white; } /* Resilience */

.vclass,
.legend,
.two_poles {
  display: inline-block;
  border-radius: 5px;
  color: white;
  margin-left: 1em;
  margin-bottom: 0.2em;
  padding: 0.3em;
}
.vclass {
  background: orange;
  cursor: pointer;
}
.two_poles {
  border: solid white 2px;
  background: linear-gradient(left, #ff7f00, #007fff);
  background: -webkit-linear-gradient(left, #ff7f00, #007fff);
  background: -o-linear-gradient(left, #ff7f00, #007fff);
  background: -moz-linear-gradient(left, #ff7f00, #007fff);
}
.vclass:hover {
  background: grey !important;
  border-color: grey;
}

.in-calendar .room1 { left:  5.00%; }
.in-calendar .room2 { left: 28.75%; }
.in-calendar .roomg { left: 52.50%; }
.in-calendar .room6 { left: 76.25%  }

.in-calendar.alldays .day_1.room1 { left:  1.17647058823529%; }
.in-calendar.alldays .day_1.room2 { left:  7.35294117647058%; }
.in-calendar.alldays .day_1.roomg { left: 13.52941176470587%; }
.in-calendar.alldays .day_1.room6 { left: 19.70588235294116%; }
.in-calendar.alldays .day_2.room1 { left: 25.88235294117645%; }
.in-calendar.alldays .day_2.room2 { left: 32.05882352941174%; }
.in-calendar.alldays .day_2.roomg { left: 38.23529411764703%; }
.in-calendar.alldays .day_2.room6 { left: 44.41176470588232%; }
.in-calendar.alldays .day_3.room1 { left: 50.58823529411761%; }
.in-calendar.alldays .day_3.room2 { left: 56.76470588235290%; }
.in-calendar.alldays .day_3.roomg { left: 62.94117647058819%; }
.in-calendar.alldays .day_3.room6 { left: 69.11764705882348%; }
.in-calendar.alldays .day_4.room1 { left: 75.29411764705877%; }
.in-calendar.alldays .day_4.room2 { left: 81.47058823529406%; }
.in-calendar.alldays .day_4.roomg { left: 87.64705882352935%; }
.in-calendar.alldays .day_4.room6 { left: 93.82352941176464%; }

.in-calendar .event:hover,
.highlighted {
    max-height: initial !important;
    /* overflow: visible; */
    z-index: 1;
    background: #333;
    color: white;
}

.in-list .event:hover,
.highlighted {
    overflow: visible;
    z-index: 1;
    background: #333;
    color: white;
}

.footer{
    position: fixed;
    background-color: #c3c3c3;
    min-width: 640px;
    width: 100%;
    bottom: 0;
    left:0;
    right: 0;
}

.header{
    width: 100%;
    display: block;
}

.header__right{
    float: right;
}

label{
    display: block;
    line-height: 1.5em;
    padding: 1em;
    padding-bottom: 0;
    font-size: 0.75em;
}

.footer__filter-side{
    float: left;
}

a{
    color: #000;
}
