PasteDeploy==1.5.2
SQLAlchemy==0.9.8
WebOb==1.4
colander==1.0b1
cornice==0.15
psycopg2==2.5.4
pyramid==1.5.2
pyramid-tm==0.8
repoze.lru==0.6
requests==2.4.3
simplejson==3.6.5
transaction==1.4.3
translationstring==1.3
venusian==1.0
waitress==0.8.9
wsgiref==0.1.2
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.5
