ansible==1.9.6
apipkg==1.4
bsdploy==2.2.0
cffi==1.9.1
cryptography==1.5.3
ecdsa==0.13
enum34==1.1.6
execnet==1.4.1
Fabric==1.12.0
idna==2.1
ipaddress==1.0.17
Jinja2==2.8
lazy==1.2
lxml==3.5.0
MarkupSafe==0.23
paramiko==1.17.2
ploy==1.3.1
ploy-ansible==1.3.2
ploy-ezjail==1.4.0
ploy-fabric==1.1.0
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
PyYAML==3.12
readline==6.2.4.1
six==1.10.0
